h1{
    color: blue;    
    }
    
    *{
    border: solid; 
    }

    .styleheader{
    background-color: black;   
    
    display:flex;

    justify-content: space-between;

    } 
    p,h2{
        color: cornflowerblue;
        text-align: center;
    }

.games {
display:flex;
justify-content: space-evenly;
align-items: baseline;
}

.socialmedia {
    display:flex; 
    justify-content:flex-end ;
    align-content: flex-end;
    
}

